<div class="container-fluid">
    <div class="row">
        <a href="https://co-labs.etna.io/projets/Call%20of%20Dj"><h1>The link to our Co-Labs project sheet.</h1></a>
    </div>
    <div class="row content-page">
        <div class="col-md-6 teamMember">
            <img class="img-responsive" src="./images/gouezo_y.jpg" alt="gouezo_y" >
            <div class="deskMember">
                <h4><a class="mailto" href="mailto:gouezo_y@etna-alternance.net">
                    Yann-Vaï GOUEZOU
                </a></h4>
                <p><a target="_blank" href="https://linkedin.com/pub/yann-vaï-gouezou/a0/478/848"><i class="fa fa-linkedin fa-2x"></i></a></p>

            </div>
        </div>
        <div class="col-md-6 teamMember">
            <img  class="img-responsive" src="./images/daviau_o.jpg" alt="daviau_o" >
            <div class="deskMember">
                <h4><a class="" href="mailto:daviau_o@etna-alternance.net">
                    Olivier DAVIAUD
                </a></h4>
                <p><a target="_blank" href="https://linkedin.com/pub/olivier-daviaud/7a/8ab/284"><i class="fa fa-linkedin fa-2x"></i></a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 teamMember">
            <img  class="img-responsive" src="./images/weffli_s.jpg" alt="weffli_s">
            <div class="deskMember">
                <h4><a class="" href="mailto:weffli_s@etna-alternance.net">
                    Sébastien WEFFLING
                </a></h4>
                <p><a target="_blank" href="https://linkedin.com/pub/sébastien-weffling/5b/405/219"><i class="fa fa-linkedin fa-2x"></i></a></p>
            </div>
        </div>
        <div class="col-md-6 teamMember">
            <img  class="img-responsive" src="./images/cordie_p.jpg" alt="cordie_p" >
            <div class="deskMember">
                <h4><a class="" href="mailto:cordie_p@etna-alternance.net">
                    Pierre CORDIER
                </a></h4>
                <p><a target="_blank" href="https://www.linkedin.com/in/pierrecordier"><i class="fa fa-linkedin fa-2x"></i></a></p>
                <p><a target="_blank" href="https://twitter.com/pierre_co"><i class="fa fa-twitter fa-2x"></i></a></p>

            </div>
        </div>
    </div>
</div>